{
margin: 0px;
padding: 0px;
}

#main_nav{
    text-align: center;

}

#chry_h1{
    text-align: center;
}

#main_subh{
    text-align: center;
}

#home_baka{
    text-align: center;
    font-style: italic ;
}

#front_image{
    margin-left: auto;
    margin-right: auto;
}

#circle_avatar{
    margin-left: auto;
    margin-right: auto;
}

#bottom_tagline{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1000px;

}

#main_wrapper{
    border: 1px solid darkgrey;
    width: 1000px;
    margin: 20px auto;
}