{
margin: 0px;
padding: 0px;
}

#chry_h1{
    text-align: center;
}

#circle_avatar{
    margin-left: auto;
    margin-right: auto;
}

#bottom_tagline{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#main_wrapper{
    border: 1px solid darkgrey;
    width: 1000px;
    margin: 20px auto;
}